{% extends "AcmeMainBundle::layout.html.twig" %}

{% block content %}
    <div class="row">
    {% createphp cmfMainContent as="rdf" %}
    {{ rdf.title|raw }}
    {{ rdf.body|raw }}
    {% endcreatephp %}
    </div>
    {{ sonata_block_render({ 'name': 'firstBlock' })}}
{% endblock %}